@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', sans-serif;
}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: white;
}

.nav-icon{
    width: 125px;
}

.top-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.navbar a, .navbar button{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 24px;
    transition: all 0.3s ease;
}

.navbar > img{
    width: 100px;
}

.top-nav button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #c2272d;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.top-nav img{
    width: 50px;
}

.bars-icon{
    display: none;
}

.navbar button:active{
    transform: scale(0.95);
}

.navbar a:hover{
    color: #c2272d;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: #c2272d;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}


.sidebar-link a{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
}

.close-icon img{
    width: 35px;
    position: fixed;
    margin: 50px;
    top:0;
    right: 0;
}


section{
    min-height: 100vh;
    display: flex;
    color: black;
}

/* Home */
.home{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 2.5rem;
}
.home h1{
    font-weight: 700;
    color: #c2272d;
    font-size: 3rem;
    font-weight: bold;
}

.home p{
    width: 75%;
    margin-top: 1rem;
}

.home span{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.home img{
    width: 50%;
}

.home a{
    text-decoration: none;
    color: #c2272d;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: #c2272d 2px solid;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home a:active{
    transform: scale(0.95);
}

.home a:hover{
    background-color: #c2272d;
    color: white;
}


@media (max-width: 1024px){
    .top-nav-link{
        display: none;
    }

    .bars-icon{
        display: flex;
    }

    .home{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    .home div{
        text-align: center;
        align-items: center;
        padding-left: 0;
        width: 100%;   
    }

    .home a{
        width: 225px;
        font-size: 1.5rem;
        
        margin-bottom: 5vh;
    }

    .home img{
        width: 75%;
    }

    
    .home p{
        font-size: 1.35em;
    }
    
    .home span{
        font-size: 1.5rem;
    }

}

@media (max-width:540px){

    .home{
        padding-top: 0;
        padding-bottom: 0;
    }

    .home h1{
        font-size: 1.8rem;
    }
    
    .home p{
        font-size: 1em;
    }
    
    .home span{
        font-size: 1.25rem;
    }

    .home a{
        width: 125px;
        font-size: 1rem;
    }
}

@media (max-width: 420px){

    .sidebar-link a{
        font-size: 1.5rem;
    }

    .home div{
        width: 90%;
        padding-left: 0;
    }


    .home h1{
        font-size: 1.75rem;
    }
    
    .home p{
        font-size: 0.75em;
        margin-bottom: 2.5vh;
    }
    
    .home span{
        font-size: 1rem;
    }
    

}




/* About */
.about{
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
    gap: 2.5rem;
}

.about-us{
    width: 75%;
}

.about-us h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #c2272d;
    text-align: center;
}

.about h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #c2272d;
}


.why-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.why-us h3, .our-fleet h3{
    width: 75%;
}

.why-us ul{
    background-color: #f6f6f6;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    
}

.why-us li{
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.why-us li>h4{
    font-size: 1rem;
    font-weight: bold;
    color: #c2272d;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.why-us li>p{
    font-size: 0.85rem;
    color: black;
}

.why-us li > img{
    width: 50px;
    height: 50px;
}

.our-fleet{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 8rem;
}

.carousel {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
  
.carousel-wrapper {
    display: flex;
    width: max-content;
    animation: slide-left 15s linear infinite;
}
  
.carousel-item {
    min-width: 150px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
}
  
.carousel-item img {
    height: 100px;
}
  
@keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
  

/* FAQ */
.faq{
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
}

.faq h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #c2272d;
    text-align: center;
}

.questions{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 2px;
    border-bottom: 2px solid #c2272d;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.question h3{
    font-size: 1.5rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}

.answer p{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.questions.active .answer{
    max-height: 1000px;
}

.questions.active img{
    transform: rotate(-180deg);
}

.question > img{
    transition: all 0.3s ease;
}

.question h3{
    font-size: 1.5rem;
    color: #c2272d;
}

.answer p{
    font-size: 1rem;
    color: black;
}

/* Location */
.our-location{
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
    padding-bottom: 8vh;
}

.our-location h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #c2272d;
    text-align: center;
}

.region-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    background-color: #f6f6f6;
    padding: 2rem;
}

.region{
    width: 25%;
}

.region > h2{
    font-size: 1.5rem;
    color: #c2272d;
    margin-bottom: 0.5rem;
    text-align: center;
}

.location > h3{
    font-size: 1rem;
    color: #c2272d;
}

.location > p{
    font-size: 1rem;
    color: black;
    margin-bottom: 0.5rem;
}


/* Contact */
.contact{
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
    padding-bottom: 8vh;
}

.contact h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #c2272d;
    text-align: center;
}

.contact form{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.contact > form > label{
    font-size: 1.5rem;
    color: #c2272d;
    font-weight: bold;
}

.contact input{
    width: 50%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #c2272d;
    border-radius: 5px;
}

.contact textarea{
    width: 75%;
    height: 150px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #c2272d;
    border-radius: 5px;
}

.contact button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #c2272d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.contact button:active{
    transform: scale(0.95);
}






